.footer {
    background-image: url("https://res.cloudinary.com/christianzayas/image/upload/v1638242913/Amor/medioambiente/Screenshot_6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0.1rem;
    position:relative;
    padding-inline-start: -10rem;
}



