.hero {
    height: 500px;
    background-image: url("https://image.freepik.com/free-photo/elderly-person-children-holding-plant_1150-18573.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 600px) {
    .hero {
        height: 500px;
        background-image: url("https://cdn.bioguia.com/embed/62e425b6c6cbcbdd5247fd5c5ddbc1094c58dc1533564606/manos-en-tierra.jpg?imagick=1&size=500");
         background-attachment: fixed;
        background-position:center;
    }
}

.is-transparent {
    background-color: rgba(42, 42, 42, 0.644) !important;
}

.bgg {
    background-color: hsl(171, 100%, 41%) !important;
}

.is-active {
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.navbar-item:hover {
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
}